.size (@value) {
	height: @value;
	width: @value;
}
.size (@width; @height) {
	height: @height;
	width: @width;
}
.min-size (@value) {
	min-height: @value;
	min-width: @value;
}
.min-size (@width; @height) {
	min-height: @height;
	min-width: @width;
}
.max-size (@value) {
	max-height: @value;
	max-width: @value;
}
.max-size (@width; @height) {
	max-height: @height;
	max-width: @width;
}
.square (@size) {
	height: @size;
	width: @size;
}
.ratio (@ratio: (16 / 9)) when not (iskeyword(@ratio)) {
	display: block;
	height: 0;
	padding-top: ((1 / @ratio) * 100%);
}
.ratio (embed; @ratio: (16 / 9)) {
	overflow: hidden;
	position: relative;
	&:before {
		content: ' ';
		.ratio(@ratio);
	}
}
.circle (@diameter; ...) {
	border-radius: @diameter / 2;
	height: @diameter;
	width: @diameter;
}
.circle (@diameter; @crop; ...) when (@crop = true) {
	overflow: hidden;
}
.circle (@diameter; @crop: val; @display: block) {
	.check () when (@display = block) {
		display: block;
	}
	.check () when (@display = inline) {
		display: inline-block;
	}
	.check();
}
