/*----------------------------------------------------------------------------*\
    # Copyright 2017, BuzzingPixel, LLC

    # This program is free software: you can redistribute it and/or modify
    # it under the terms of the Apache License 2.0.
    # http://www.apache.org/licenses/LICENSE-2.0
\*----------------------------------------------------------------------------*/

$fontPath: '../fonts/' !default;
$woff2Enabled: true !default;

@mixin loadFont($name, $file: $name, $weight: normal, $style: normal) {
    @font-face {
        font-family: '#{$name}';
        font-style: $style;
        font-weight: $weight;
        src: url('#{$fontPath}#{$file}');

        @if $woff2Enabled {
            src: url('#{$fontPath}#{$file}.eot?#iefix') format('embedded-opentype'),
            url('#{$fontPath}#{$file}.woff2') format('woff2'),
            url('#{$fontPath}#{$file}.woff') format('woff'),
            url('#{$fontPath}#{$file}.ttf') format('truetype');
        } @else {
            src: url('#{$fontPath}#{$file}.eot?#iefix') format('embedded-opentype'),
            url('#{$fontPath}#{$file}.woff') format('woff'),
            url('#{$fontPath}#{$file}.ttf') format('truetype');
        }
    }

    // Windows Chrome fix
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: '#{$name}';
            src: url('#{$fontPath}#{$file}.svg##{$name}') format('svg');
        }
    }
}
