/*----------------------------------------------------------------------------*\
    # Copyright 2017, BuzzingPixel, LLC

    # This program is free software: you can redistribute it and/or modify
    # it under the terms of the Apache License 2.0.
    # http://www.apache.org/licenses/LICENSE-2.0
\*----------------------------------------------------------------------------*/

@mixin fabShadow ($color, $x, $y, $blur, $spread) {
    box-shadow: $x $y $blur $spread $color;
}

@mixin shadow($color, $x: 1px, $y: 1px, $blur: 0px, $spread: 0px) {
    box-shadow: $x $y $blur $spread $color;
}

@mixin shadowInner($color, $x: 1px, $y: 1px, $blur: 0px, $spread: 0px) {
    box-shadow: inset $x $y $blur $spread $color;
}
