/*----------------------------------------------------------------------------*\
    # Copyright 2017, BuzzingPixel, LLC

    # This program is free software: you can redistribute it and/or modify
    # it under the terms of the Apache License 2.0.
    # http://www.apache.org/licenses/LICENSE-2.0
\*----------------------------------------------------------------------------*/

@mixin ratio($ratio: (16 / 9)) {
    display: block;
    height: 0;
    padding-top: ((1 / $ratio) * 100%);
}

@mixin ratioEmbed ($ratio: (16 / 9)) {
    overflow: hidden;
    position: relative;

    &:before {
        content: ' ';

        @include ratio($ratio);
    }
}

@mixin circle($diameter, $crop: false, $display: false) {
    border-radius: ($diameter / 2);
    height: $diameter;
    width: $diameter;

    @if $crop {
        overflow: hidden;
    }

    @if $display {
        display: $display;
    }
}
